body {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.about-bio {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
}

.about-profile-picture {
  z-index: 1;
  max-height: 450px;
  max-width: 600px;
  padding: 5px;
}

#bio{
  z-index: 1;
  padding: 0px;
  border: 0px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
  font-size: 45px;
}

.interests-carousel {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.carousel-button {
  z-index: 1;
}

#activity-description {
  z-index: 1;
}

#activity-image {
  z-index: 1;
}