.about-bio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
}

.about-profile-picture {
  max-height: 450px;
  max-width: 600px;
  padding: 5px;
}

#bio{
  padding: 0px;
  border: 0px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
  font-size: 45px;
}

.interests-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}