.homepage {
  display: flex;
  flex-direction: column;
  height: 99%;
  justify-content: space-between;
}

.my-name {
  width: 185px;
  font-size: 36px;
  display: block;
  color: #000;
  background-color: #674ea7ff;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.profile-picture {
  border: 10px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}