html {
  height: 99%;
}

body {
  background-color: #93c47dff;
  font-family: sans-serif;
  font: Arial;
  font-size: 24px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.intra-page-links {
  font-size: 36px;
  display: block;
  border: 2px;
  border-style: solid;
  color: #000;
  border-color: #674ea7ff;
  background-color: #674ea7ff;
  padding: 5px;
  font-weight: 900;
  text-decoration-line: none;
}

.intra-page-links:hover {
  border-color: #c00;
}